h1 {
    color:purple;
    }
img
    {width:600px;

    }
body {
        background-color:black;
        }
p   { color:purple;
      font-size:20px;

}

ul { color:white;
     
}
body{font-family: 'Kaushan Script', cursive;}
a { color:purple;}